.text-scale {
  @apply cursor-pointer transition-transform duration-100 hover:scale-125;
}

.text-gradient {
  background: radial-gradient(
    circle at 100%,
    var(--foreground-strong-color),
    var(--foreground-color) 50%,
    var(--border-color) 75%,
    var(--foreground-color) 75%
  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 3s linear infinite;
}

@keyframes animatedTextGradient {
  to {
    background-position: 200% center;
  }
}

.text-gradient-waves {
  background: radial-gradient(
    circle at 100%,
    #ffffff 25%,
    var(--border-color) 30%,
    #ffffff 35%

  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 3s linear infinite;
}

.text-gradient-waves-black {
  background: radial-gradient(
    circle at 100%,
    var(--text-color) 25%,
    var(--foreground-color) 30%,
    var(--text-color) 35%

  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 3s linear infinite;
}